@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

body {
  font-size: 20px;
}

h2 {
  position: relative;
  margin-top: 30px;
  padding: 16px 0;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    height: 1px;
    background-color: #ff3366;
  }
}
